<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My School{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}My School{% endblock %}</h1>
    </header>

    <nav></nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'field_student' %}">Field Student</a></li>
            <li><a href="{% url 'activity' %}">Activity</a></li>
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'teacher' %}">Teacher</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026 My School. All rights reserved.</p>
    </footer>
</body>
</html>